@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
    background: #111;
}

/* redline.js gauge customization */
#gauge {
    margin: 100px auto;
}

/* base dial thickness and color */
#gauge .redline-dial-left,
#gauge .redline-dial-right,
#gauge .redline-dial-warning,
#gauge .redline-dial-danger {
    border-width: 3px;
    border-color: #ebebeb;
}

/* additional two colors */
#gauge .redline-dial-warning {
    border-color: #ffa500;
}
#gauge .redline-dial-danger {
    border-color: red;
}

/* warninig & danger zones occupation */
/* note: warning zone width includes danger zone */
#gauge .redline-dial-warning-wrap {
    transform: rotate(130deg); /* (180deg - 50deg): so warning line is 50deg wide */
}

#gauge .redline-dial-danger-wrap {
    transform: rotate(160deg); /* (180deg - 20deg): so warning line is 20deg wide */
}


/* animation speed for tthe arrow */
#gauge .redline-hand-wrap {
    transition: transform .5s ease;
}

/* arrow size */
#gauge .redline-hand-arrow {
    /* let arrow width be 10px */
    margin-left: -3px; /* half */

    border-left: 3px solid transparent; /* half */
    border-right: 3px solid transparent; /* half */
    
    border-top: 130px solid red; /* length & color */
}

/* arrow root */
#gauge .redline-hand-center {
    /* let the radius be 10px */

    margin-left: -6px;
    margin-top: -6px;
    
    /* diameter */
    width: 12px;
    height: 12px;

    background: red; /* color */
}


/* Marks & captions */
#gauge .redline-captions {  
    font-family: Montserrat, Serif;
    font-size: 18px;
    line-height: 1em;
    color: white;
}

#gauge .redline-captions li {
    width: 18px; /* space for numbers*/
    height: 18px;
    margin-left: -9px; /* half of it */
    
    margin-top: 170px; /* from center */
    transform-origin: center -170px;
}


/* marks */
#gauge .redline-captions li:before {
    width: 1px;
    height: 8px;

    top: -10px;

    background: white;
}

/* when marks are inside */
#gauge .redline-captions.redline-captions-inner li {
    /* from center */
    margin-top: 110px;
    transform-origin: center -110px;
}

#gauge .redline-captions.redline-captions-inner li:before {
    top: auto;
    bottom: -10px;
}