// Variables

$gauge-diameter: 300px;
$dial-width: 10px;

$dial-aperture: 160deg;
$warning-dial-angle: 60deg;
$danger-dial-angle: 20deg;

$hand-length: 100px;
$hand-width: 12px;
$hand-center-radius: 10px;

$base-dial-color: black;
$warning-dial-color: orange;
$danger-dial-color: red;
$hand-color: blue;
$captions-color: $base-dial-color;


.gaugejs {
    display: block;
    position: relative;

    width: $gauge-diameter;
    height: $gauge-diameter;

    * {
        box-sizing: border-box;
    }

    .gaugejs-dial {
        display: block;
        position: absolute;

        width: 100%;
        height: 100%;
        
        .gaugejs-dial-half {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        
        .gaugejs-dial-left-half {
            @extend .gaugejs-dial-half;
        }

        .gaugejs-dial-right-half {
            @extend .gaugejs-dial-half;
            left: 50%;
        }

        .gaugejs-dial-wrap {
            position: absolute;
                
            width: 200%;
            height: 50%;

            overflow: hidden;
        
            transform-origin: bottom center;
            transition: transform .5s ease;
        }
        
        //$dial-angle-offset: (360deg - $dial-aperture)/2 - 90deg;

        .gaugejs-dial-left-wrap {
            @extend .gaugejs-dial-wrap;
            left: 0;
            transform: rotate(90deg);
        }

        .gaugejs-dial-right-wrap {
            @extend .gaugejs-dial-wrap;
            right: 0;
            transform: rotate(-90deg);
        }

        .gaugejs-dial {
            position: absolute;
        
            width: 100%;
            height: 200%;

            border-radius: 100%;

            border: $dial-width solid $base-dial-color;
        }
        
        @each $type in left, right, warning, danger {
            .gaugejs-dial-#{$type} {
                @extend .gaugejs-dial;
            }
        }

        
        .gaugejs-dial-warning-wrap {
            @extend .gaugejs-dial-wrap;
            
            width: 100%;
            height: 100%;

            transform: rotate(180deg - $warning-dial-angle);
            
            .gaugejs-dial-warning {
                border-color: $warning-dial-color;
            }

        }
        .gaugejs-dial-danger-wrap {
            @extend .gaugejs-dial-warning-wrap;
            
            transform: rotate(180deg - $danger-dial-angle);

            .gaugejs-dial-danger {
                border-color: $danger-dial-color;
            }
        }
    }

    .gaugejs-hand {
        position: absolute;

        width: 100%;
        height: 100%;

        overflow: hidden;

        .gaugejs-hand-wrap {
            position: absolute;

            width: 100%;
            height: 100%;

            transition: all .5s ease;

            transform: rotate(180deg);

            .gaugejs-hand-arrow {
                position: absolute;

                top: 50%;
                left: 50%;

                margin-left: -$hand-width/2;

                width: 0; 
                height: 0;

                border-left: $hand-width/2 solid transparent;
                border-right: $hand-width/2 solid transparent;
                
                border-top: $hand-length solid $hand-color;

            }

            .gaugejs-hand-center {
                position: absolute;

                top: 50%;
                left: 50%;

                margin-left: -$hand-center-radius;
                margin-top: -$hand-center-radius;

                width: $hand-center-radius*2;
                height: $hand-center-radius*2;

                background: $hand-color;

                border-radius: 100%;
            }
        }
    }

    .gaugejs-captions {
        position: absolute;
        
        width: 110%;
        height: 110%;
        
        top: -5%;
        left: -5%;

        
        font-family: Helvetica, Arial, Sans-Serif;
        font-size: 22px;
        line-height: 1em;
        color: $captions-color;

        ul {
            display: block;
            position: absolute;

            width: 100%;
            height: 100%;

            margin: 0;
            padding: 0;

            /*&:hover {
                li {
                    transform: rotate(220deg);

                    span {
                        transform: rotate(-220deg);
                    }
                }
            }*/

            li {
                display: block;
                position: absolute;

                margin: 0;
                padding: 0;

                width: 22px;
                height: 22px;

                top: 50%;
                left: 50%;
                
                margin-top: ($gauge-diameter/2 + 20px);
                margin-left: -11px;

                transform-origin: center ($gauge-diameter/2 + 20px)*(-1);

                transition: all 1s ease;

                text-align: center;
                font: inherit;

                span {
                    display: block;
                    position: absolute;

                    width: 100%;
                    height: 100%;

                    text-align: inherit;
                    font: inherit;

                    transform-origin: center;
                    transition: all 1s ease;

                    b {
                        font-weight: normal;
                    }
                }

                &:before {
                    display: block;
                    position: absolute;
                    content: "";

                    width: 2px;
                    height: 7px;

                    top: -10px;
                    left: 0;
                    right: 0;
                    margin: auto;

                    background: $captions-color;
                }
                
                &.gaugejs-caption-left-fit {
                    span b {
                        position: absolute;
                        right: 0;
                    }
                }
                &.gaugejs-caption-right-fit {
                    span b {
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }

        &.gaugejs-captions-inner {
            li {
                margin-top: ($gauge-diameter/2 - 40px - $dial-width);
                transform-origin: center ($gauge-diameter/2 - 40px - $dial-width)*(-1);

                &:before {
                    top: auto;
                    bottom: -10px;
                }

                &.gaugejs-caption-left-fit {
                    span b {
                        left: 0;
                        right: auto;
                    }
                }

                &.gaugejs-caption-right-fit {
                    span b {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }
}